@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: cadetblue;
    color: white;
}

main {
    width: 70vw;
    height: 70vh;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

form{
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    box-shadow: 10px 5px 5px black;
}

button{
    margin: 10px;
}